body {
    background: 
      linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
          var(--app-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
  }